@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* -------------------------------------------GLOBAL VARIABLES-------------------------------- */

:root {
  --main-black: #272a31;
  --secondary-black: #333;
  --main-tomato: #ec5242;
  --main-white: #f0f0f0;
  --white: #fff;
  --blood: #8a0303;
  --orange: #f04a00;
  --dark-grey: #d3d3d3;
  --softGrey: #acaea9;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ----------------------------------------HEADER---------------------------------------------- */

header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  top: 0;
  padding-bottom: 70px;
  border: none;
  position: relative;
  background: var(--main-white);
}

.overlay img {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.1;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding-left: 12px;
  padding-right: 24px;
  z-index: 999;
}

.nav-inner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 48px;
}

.logo {
  height: 100%;
  width: 114px;
  display: flex;
  font-size: 1.25rem;
}

.popup-title-wrap h3 {
  color: #172b4d;
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 44px;
}

.tagline h3 {
  color: #ec5242;
  text-transform: capitalize;
}

.about-card p,
.about-card h3 {
  text-align: center;
  color: var(--main-white);
}

#logo h3 {
  font-size: 100%;
  color: #28352f;
}

/* --------------------------------------MOBILE MENU---------------------------------------------- */
#bars,
#close-btn {
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border: none;
  background: transparent;
}

#close-btn {
  top: 0;
  right: 24px;
  position: absolute;
}

.show-sidebar {
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  transform: translate(0);
  transition: 0.3s ease;
  z-index: 999;
  background: #fff;
}

.sidebar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: 0.3s ease;
  transform: translate(-100%);
  background: #fff;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.mobile-nav-menu {
  height: 184px;
  width: 80%;
  display: block;
  margin-left: 28px;
  margin-top: 72px;
}

.mobile-nav-menu li {
  margin-bottom: 40px;
}

.nav-link {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  color: var(--main-black);
}

.nav-active {
  color: var(--orange);
}

/* -------------------------------------------HEADLINE---------------------------------------------------- */
.headline-content-wrap {
  width: 100%;
  height: 70vh;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.headline-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.tagline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.tagline h2 {
  color: #ec5242;
  font-size: 2rem;
  line-height: 32px;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  animation: run-right 2s ease;
}

.headline-purpose {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.headline-purpose h2 {
  color: #272a31;
  animation: pop-up-text 6s linear;
}

.headline-purpose h4,
.headline-purpose p {
  animation: pop-up-text 6s linear;
}

.headline-para {
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.headline-para p {
  animation: pop-up-text 4s linear;
}

/* ---------------------------------------ABOUT PAGE---------------------------------------------- */

.about-overlay img {
  opacity: 0.1;
}

.aboaut-content {
  padding-left: 12px;
  padding-right: 12px;
}

.mission-text {
  padding-bottom: 2rem;
}

.about-headline-purpose {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1rem;
}

.headline-purpose a {
  text-decoration: underline;
  text-decoration-color: var(--main-black);
  color: var(--main-black);
  font-weight: bolder;
  text-align: center;
  font-size: 80%;
}

.about-headline-purpose p {
  font-size: 80%;
  text-align: center;
  animation: none;
}

.about-headline-para {
  border: 1px solid var(--dark-grey);
  background: var(--white);
  z-index: 1;
  text-align: center;
  padding: 1rem 2rem;
}

.about-headline-para p,
.about-tagline h1 {
  animation: none;
}

.about-headline-para-2 {
  margin: 0 auto;
  border: 1px solid var(--dark-grey);
  background: var(--white);
  z-index: 1;
  text-align: center;
  padding: 1rem 2rem;
}

.about-headline-para h1 {
  text-transform: uppercase;
}

.content-wrap {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content-first {
  border-bottom: 1px solid var(--dark-grey);
  padding-bottom: 2rem;
}

.content-second {
  border-bottom: none;
  padding-top: 2rem;
}

.about-cards-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 200px;
  background: red;
  opacity: 0.9;
  position: relative;
}

.about-card img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

/* ---------------------------------------PROGRAMS---------------------------------------------------------- */

.programs {
  width: 100%;
  background: var(--main-black);
  padding: 50px 12px;
}

.program-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 14px;
  padding-bottom: 14px;
}

.program-title h4 {
  color: var(--main-white);
}

.underline {
  border: 1px solid var(--orange);
  width: 50px;
}

.program-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.card-url {
  text-decoration: none;
  width: 100%;
}

.card {
  background: var(--secondary-black);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.icon-wrap {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 5px;
}

.icon-wrap h4 {
  color: var(--orange);
  text-transform: capitalize;
}

.icon-wrap i {
  color: var(--main-white);
}

.prog-description {
  display: flex;
  align-items: center;
  width: 60%;
  font-size: 1rem;
}

.prog-description p {
  color: var(--main-white);
  font-size: 90%;
}

.join-us-btn {
  width: 70%;
  background: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 0 auto;
  margin-top: 50px;
  color: var(--main-white);
  text-transform: capitalize;
}

/* ----------------------------------------REVIEWS-------------------------------------------- */

.reviews {
  width: 100%;
  padding: 50px 12px;
  background: var(--white);
}

.reviews-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 14px;
  padding-bottom: 14px;
}

.reviews-title h4 {
  text-transform: uppercase;
}

.reviews-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  overflow: hidden;
}

.review {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  gap: 1.2rem;
}

.reviewer-img-wrap {
  width: 40%;
  height: 100px;
}

.reviewer-img-wrap img {
  max-width: 100%;
}

.review-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  width: 60%;
  height: 100px;
}

.review-text h5 {
  color: var(--main-black);
  font-size: 1.2em;
}

.review-text .orange-text {
  color: var(--orange);
  font-size: 0.9em;
}

.review-text p {
  font-size: 0.9em;
}

.review-text .underline {
  border-color: var(--dark-grey);
  width: 25px;
}

.reviews-btn {
  width: 100%;
  background: var(--orange);
  color: var(--main-white);
  text-transform: capitalize;
  border: none;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
}

.show-more {
  width: 100%;
  margin-bottom: 0;
}

.hide {
  display: none;
}

/* ---------------------------------------------PARTNERS--------------------------------------------------- */

.partners {
  width: 100%;
  background: var(--main-black);
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.partners-wrap {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.partners-title .underline {
  color: var(--dark-grey);
}

.partners-wrap i,
.partners-title h4 {
  color: var(--dark-grey);
}

/* ----------------------------------------------FOOTER------------------------------------------------------- */

footer {
  height: 100px;
  width: 100%;
  bottom: 0;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

/* Back to top */
.back-to-top {
  font-size: 1.25rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
  border: none;
  background: var(--orange);
}

.back-to-top .fas {
  color: var(--main-white);
}

.show-link {
  visibility: visible;
  z-index: 100;
}

/* ------------------------------------------Media queries------------------------------------------ */
@media screen and (max-width: 767px) {
  .nav-menu,
  #logo,
  #see-all-p,
  .copy-right-desktop,
  .about-underline,
  .top-nav {
    display: none;
  }

  .copy-right-mobile p {
    text-transform: capitalize;
    font-size: 0.7rem;
  }

  .tagline {
    width: 100%;
  }

  .about-tagline {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 100vh;
  }

  .top-nav {
    background: var(--main-black);
    height: 50px;
    width: 100%;
    padding-right: 4rem;
     
  }

  .top-nav ul {
    float: right;
    display: flex;
    gap: 1rem;
    height: 100%;
    align-items: center;
  }

  .top-nav-social a {
    color: var(--main-white);
  }

  .top-nav-item a {
    color: var(--softGrey);
  }

  nav {
    background: var(--white);
    height: auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-inner {
    background: var(--white);
    width: 70%;
    margin: 0 auto;
    height: 72px;
  }

  #bars,
  .sidebar,
  .show-sidebar,
  #close-btn,
  .copy-right-mobile,
  .about-partners {
    display: none !important;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  .nav-menu-item {
    margin-right: 1rem;
  }

  .headline-content-wrap {
    width: 70%;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .tagline h2 {
    letter-spacing: 0.3;
    font-size: 68px;
    line-height: 68px;
  }

  .tagline h3 {
    font-size: 2rem;
  }

  .headline-para {
    width: 50%;
  }

  .headline-purpose h2 {
    font-weight: 700;
    font-size: 2rem;
  }

  .headline-purpose p {
    font-size: 1.3rem;
    color: var(--secondary-black);
  }

  /* PROGRAMS */

  .programs {
    padding-top: 1.5rem;
  }

  .program-cards {
    flex-direction: row;
    gap: 2px;
  }

  .programs-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 14px;
    padding-bottom: 2.5rem;
  }

  .card {
    width: 180px;
    height: 200px;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
  }

  .card:hover {
    border: 2px solid var(--white);
  }

  .icon-wrap {
    flex-direction: column;
    width: 30%;
    gap: 5px;
  }

  .icon-wrap h4 {
    color: var(--orange);
    text-transform: capitalize;
  }

  .icon-wrap i {
    color: var(--main-white);
  }

  .prog-description {
    width: 100%;
  }

  .join-us-btn {
    display: none;
  }

  .see-all-program {
    color: var(--main-white);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: gray;
  }

  #see-all-p {
    display: grid;
    place-items: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .reviews-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    margin: auto;
  }

  .reviewer-img-wrap {
    width: 50%;
    height: 260px;
  }

  .reviewer-img-wrap img {
    width: 100%;
    height: 100%;
  }

  .review-text {
    align-items: flex-start;
  }

  /* ABOUT PAGE */

  .about-footer-logo h3 {
    color: var(--main-white);
  }

  .copy-right-desktop-abt p {
    color: var(--softGrey);
  }

  .about-tagline {
    width: 50%;
    margin: 0 auto;
  }

  .about-tagline h1 {
    text-align: center;
  }

  .about-tagline h3 {
    display: none;
  }

  .about-underline {
    margin: 0 auto;
  }

  .mission-text {
    width: 40%;
    margin: 0 auto;
  }

  .about-headline-para {
    width: 70%;
    margin: 0 auto;
  }

  .about-headline-para-2 {
    width: 35%;
  }

  .about-cards-wrap {
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
  }

  .about-headline-purpose {
    width: 60%;
    margin: 0 auto;
  }

  .about-headline-purpose p {
    font-size: 90%;
  }

  /* FOOTER */

  footer {
    height: 200px;
  }

  .about-footer {
    background: var(--main-black);
  }

  .footer-inner {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    width: 60%;
  }

  .footer-inner a {
    color: var(--main-black);
  }

  .copy-right {
    width: 70%;
  }

  .copy-right-desktop {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 100%;
  }
 
  .reviews-wrap {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
     
  }

  .reviewer-img-wrap {
    width: 50%;
    height: 260px;
  }

  .reviewer-img-wrap img {
    width: 100%;
    height: 100%;
  }
}

/* -------------------------------------------------KEY FRAMES-------------------------------------------- */

@keyframes run-right {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes pop-up-text {
  0% {
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
